@import './variables';

.fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $footer-background-color; 
    border-top: 1px solid $footer-border-color; 
    padding: 15px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.fixed-footer h2 {
    color: $footer-text-color; 
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.1em;
    margin: 5px;
}

.payment-number {
    color: $payment-number-color; 
    font-size: 1em;
    margin-left: 5px;
}
