@import './variables';

.home-container {
  display: flex;
  flex-direction: column;
  background-color: $home-bg-color; 
  font-family: 'Roboto', sans-serif;
  padding: 150px 0;
}

.home-table-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0 20px;
}

#home-table {
  background-color: $table-bg-color; 
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#home-table th, #home-table td {
  vertical-align: middle;
  text-align: center;
}

#home-table th {
  background-color: $table-header-bg-color; 
  color: white;
  font-weight: 600;
  font-size: 1em;
}

#home-table td {
  background-color: $table-bg-color; 
  color: $table-text-color; 
  font-size: 1.1em;
}

.paid-td {
  background-color: $paid-td-bg-color !important; 
}

.payment-date-table {
  font-weight: 500;
}

.paid-edit-btn {
  visibility: hidden;
  font-size: 0.8em;
}

#home-table td {
  font-size: 1.1em;
}

#home-table td button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: $btn-bg-color; 
}

#home-table button {
  font-size: 0.8em;
}

#home-table td button.success {
  font-size: 0.8em;
  background-color: $btn-success-bg-color; 
  color: white;
}

#home-table td button.warning {
  font-size: 0.8em;
  background-color: $btn-warning-bg-color; 
  border: none;
  color: white;
}

.progress-container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  align-items: center;
  justify-items: center;
  width: 100%;
}

.progress-container .progress-bar {
  width: 100%;
}

.progress-container img {
  width: 150px;
  height: 150px;
}

// Media query
@media (max-width: 768px) {
  #home-table th, #home-table td {
      font-size: 14px;
  }

  .fixed-footer h2 {
      font-size: 16px;
  }
}
