@import './variables';

#navbar-container {
    position: fixed !important;
    width: 100%;
    z-index: 100;
    background-color: $navbar-bg-color !important; 
    color: $navbar-text-color; 
    border-bottom: 1px solid $navbar-border-color; 
}

.navbar-nav {
    width: 100% !important;
}

.nav-brand {
    color: $nav-brand-color !important; 
    font-weight: 800 !important;
    text-transform: uppercase !important;
    font-size: 2em !important;
    text-shadow: 1px 0 red !important; 
}

.nav-link {
    font-weight: $nav-link-font-weight !important; 
    font-size: 1em !important;
    text-transform: uppercase !important;
    padding-left: 30px !important;
    padding-right: 15px !important;
}
